<div id="left">
    
</div>
<div id="right">
    <div class="frame">
        <img src="img/shawnk.jpg" alt="Shawn Koma" />
        <p>Shawn Koma, Jun-2014</p>
    </div>
    <h1 class="title">About Us</h1>    
    <p>For 25 years, Shawn Koma has been engineering design for commercial, residential, and industrial structural applications.</p>
    <p>In 2006, Shawn founded SNZ ENGINEERING in Los Angeles. SNZ serves as a vehicle to develop concrete, masonry, steel, and wood structures. As the CEO and principal of SNZ, Shawn's work spans the globe with installations in international locations (USA, Canada, Iran, and more).</p>
    <p>New design and cutting edge structural standards are a specialty at SNZ ENGINEERING. Shawn's wealth of experience make him multi-faceted and sought out as a professional engineer.</p>
    <br /><br />
    <h2 class="title">SNZ OVERVIEW</h2>
    <h3>Design and structure of new building designs</h3>
    <h3>Performance evaluation and retrofitting</h3>
    <h3>Seismic certification of mechanical devices/platforms</h3>
    <h3>Design of non-building structures (signage, video, billboard)</h3>
    <h3>Panel review structural design</h3>
</div>