<div id="left">
    
</div>
<div id="right">
    <div class="frame">
        <img src="{{office.aboutUsImg}}" alt="Shawn Koma" />
        <p>Shawn Koma, Jun-2014</p>
    </div>
    <h1 class="title">About Us</h1>
    <p ng-repeat="(key, val) in office"><span ng-if="!key.search('aboutUs') && val.trim() != ''">{{val}}</span></p>
    <br /><br />
    <h2 class="title"><span ng-bind="office.name"></h2>
    <h3 ng-repeat="(key, val) in office"><span ng-if="!key.search('overView') && val.trim() != ''">{{val}}</span></h3>
</div>