<div id="left">
    
</div>
<div id="right">
    <div class="frame">
        <img src="http://assets.navahang.com/images/2012/04/Shahram-Shokoohi-Golo-Khaar-Alireza-N.-Remix.jpg" alt="Shahram image" />
        <p>Shahram Shokoohi, May-2014</p>
    </div>
    <h1 class="title">About Us</h1>    
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
    <p>Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. Stuff goes here. </p>
</div>