<div id="left">
    <h1 class="title" ng-bind="office.name"></h1>
    <div class="address">
        <span ng-bind="office.street1"></span><br />
        <span ng-bind="office.street2"></span><br />
        <span ng-bind="office.city"></span><span>, </span><span ng-bind="office.state"></span><span> </span><span ng-bind="office.postalCode"></span>
    </div>
    <div class="phone">
        <span class="title">Phone Number: </span>
        <span ng-bind="office.phone"></span><br />
        <span class="title">Direct Line: </span>
        <span ng-bind="office.directLine"></span>
    </div>
    <div class="email">
        <span class="title">Email: </span>
        <span ng-bind="office.email"></span>
    </div>
    <div class="hours">
        <span class="title">Office Hours:</span><br />
        <span ng-bind="office.hours"></span>
    </div>        
</div>
<div id="right">    
    <iframe
      class="map"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcmtPxFA2nC2ifxYtQ-Nw7EGORuhlYxC8&q=S%26Z+Engineering,CA+USA">
    </iframe>
    <img src="{{office.contactUsImg}}" alt="office view from outside"/>
    <form>
        <h2 class="title">Leave a Message</h2>
        <div><label class="title">Name: </label><input type="text" class="name" placeholder="Your Name" ng-model="user.name"/></div>
        <div><label class="title">Email: </label><input type="email" class="email" placeholder="example@email.com" ng-model="user.email"/></div>
        <div><label class="title">Message: </label><textarea class="message" placeholder="Your Message" ng-model="user.message"></textarea></div>
        <div style="height:20px"  class="{{result.class}}"><span class="{{result.icon}}"></span> <span ng-bind="result.val"></span></div>
        <div class="center"><input type="submit" value="Submit" ng-click="submit(user)" class="title button"/></div>
    </form>  
</div>
