<div class="homepageBg"></div>
<div class="corner">
    <div class="phone">
        <span ng-bind="office.phone"></span>
        <span class="slide"></span>
    </div>
    <div class="email"> 
        <span ng-bind="office.email"></span>
        <span class="slide"></span>
    </div> 
<!--        <div class="honeycomb">
          <div class="ibws-fix">
            <div class="hexagon no-hover">
              <div class="hexagontent"><span>shawn@snzeng.com</span></div>
            </div>
            <div class="hexagon home">
              <div class="hexagontent"><span>(888)888-88-88</span></div>
            </div>
          </div>
        </div>-->
</div>