<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
<!--    <ui-gmap-markers ng-if="map.doCluster"
            doCluster="map.doCluster"
            models="noWindowMarkers"
            coords="'coords'"
            idkey="'id'" 
            icon="'icon'"
            options="'options'"
            chunk="20">
    </ui-gmap-markers>-->
    <ui-gmap-markers ng-if="map.doCluster"
            doCluster="map.doCluster"
            models="markers"
            coords="'coords'"
            idkey="'id'" 
            icon="'icon'"
            options="'options'"
            chunk="20"
            click="'onClick'">
            <ui-gmap-windows show="'show'" closeClick="'closeClick'">
                <div ng-non-bindable style="max-width: 260px">
                    <img style="display: inline-block; float:right; margin-left: 5px" src='{{content.img}}'/>
                    <h4>{{content.title}}</h4>
                    <p ng-if="content.snippet">{{content.snippet}} <a ng-if="content.link" href='{{content.link.url}}'>{{content.link.text}}</a></p>
                    <p style="visibility: hidden">Margin</p>
                </div> 
            </ui-gmap-windows>
    </ui-gmap-markers>

</ui-gmap-google-map>