.header, .footer, .main{
    background-color: #D2FFFB;
    width: 100%;
    overflow: auto;
}
.header, .footer{
    background-color: #0c83e7;
}
input[type=file]{
    display: inline-block;
}
table, thead, tbody, tfoot, tr{
    width: 100%;
}
thead{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
thead input{
    color: #000;
    font-weight: normal;
}
thead tr{
        background-color: #0c83e7 !important;
}
tr{
    background-color: #E5FFF8;
}
tr:nth-child(2n){
    background-color: #BEFFED;
}
td.edit-form{
    display: none;
}
.button{
    padding: 3px;
    margin: 3px;
    display: inline-block;
    background: #aaa;
    border: solid 1px #888;
    border-radius: 3px;
    cursor: pointer;
}
.buttonish{
    padding: 3px;
    margin: 4px;
    display: inline-block;
}
.button:active{
    background: #888;
}
.main{
    min-height: 100%;
}
.inner{
    width: 900px;
    padding: 15px 0;
    margin: 0 auto;
}
.span12, .span11, .span10, .span9, .span8, .span7, .span6, .span5, .span4, .span3, .span2, .span1{
    float: left;
    display: inline-block;
    padding: 10px;
}
.span12{
    width: 100%;
}
.span8{
    width: 66.6666%;
}
.span6{
    width: 50%;
}
.span4{
    width: 33.3333%;
}
.span3{
    width: 25%;
}
.span2{
    width: 16.6666%;
}
.right{
    float: right;
    display: inline-block;
}
.error{
    color: red;
}
.add{
    color: darkgreen;
}
.edit{
    color: blue;
}
.breadcrumb{
    background-color: inherit;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}
.header h1{
    color: #D2FFFB;
}
.footer a{
    color: #D2FFFB;
}
form#sign-in{
    width: 60%;
    margin: 30px 20%;
    padding: 30px;
    background-color: #FFFBD2;
}  
form#sign-in>*{
    width: 100%;
}
form#sign-in input{
    margin-bottom: 15px;
}
form#sign-in input[type=submit]{
    width: 60%;
    margin: 0 20%;
}
.nav-container>div{
    text-align: center;
}
.nav{
    width: 100%;
    background-color:#FFFBD2;
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#project input:not([type='checkbox']),#project textarea{
    width: 80%;
}
#project textarea{
    height: 130px;
}
#project span{
    vertical-align: top;
}
#project .spec input{
    width: 45%;
}
#project input[type="checkbox"] {
    opacity: 0;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
#project input[type="checkbox"] + lable {
    color: green;
    margin-left: -13px;
    cursor: pointer;
}
#project input[type="checkbox"]:checked + lable {
    color: red;
}


@media screen and (max-width: 900px){
    .inner{
        width: 100%;
    }
}